html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Montserrat', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1, h2, h3 {
    font-family: 'Montserrat', serif;
    font-weight: 700;
}
p, span, a {
    font-family: 'Montserrat', serif;
    font-weight: 400;
}

#sidebar {
    z-index: 10; 
}

.header {
    background-image: url('../img/header.png'); 
    position: relative;
    height: 90px; 
    background-size: cover; 
    background-position: center; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(24, 24, 185, 0.5); 
    z-index: 1; 
}








