html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}



#sidebar {
    z-index: 10; 
}

.header {
    background-image: url('../img/header.png'); /* Cambia por la ruta de tu imagen */
    position: relative;
    height: 90px; /* Ajusta según sea necesario */
    background-size: cover; /* Ajusta el tamaño de la imagen */
    background-position: center; /* Centra la imagen */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(24, 24, 185, 0.5); 
    z-index: 1; 
}








